.App {
	font-family: sans-serif;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.bg-dark {
	background-color: black;
}

.bg-white {
	background-color: white;
}

.text-color-white {
  color: white;
}
