.toast {
    min-width: 250px;
    margin-top: 45px;
    background-color: black;
    color: #fff;
    text-align: center;
    position: fixed;
    border-radius: 2px;
    padding: 16px;
    bottom: 30px;
    left: 50%;
}

.hide {
    visibility: hidden;
}

/* success */
.bg-green {
    background-color: green;
}

/* error */
.bg-red {
    background-color: red;
}

/* warning */
.bg-orange {
    background-color: orange;
}

.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5 fadeout 0.2 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}
